{% extends 'base.html' %}
{% load i18n %}

{% block content %}

    {% if user.is_authenticated %}

        <form class="pure-form pure-form-stacked" action="{% url 'profileCreate' %}" method="post" enctype="multipart/form-data">
            <fieldset>
                <legend>{% trans "Create a profile" %}</legend>
                {% csrf_token %}

                <!-- <p>
                    <label for="image">Image: </label>
                    <input id="id_image" type="file" class="" name="image">
                </p>
            -->

                {{ form.as_p }}
                <input class="pure-button pure-button-primary" type="submit" value="{% trans "Create" %}" />
            </fieldset>
        </form>

    {% else %}

        <h2>{% trans "You are not logged in." %}</h2>

    {% endif %}

{% endblock %}