{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Requests" %}{% endblock %}

{% block content %}

    <h2>{% trans "Requests pending to answer" %}</h2>
    {% if requests_to_me %}
        <ul>
        {% for request in requests_to_me %}
            <li>
                <p>{% trans "Request received on" %} {{ request.creation_date }}</p>
                <br>
                <a class="pure-button" href="{% url 'userReview' request.requested.belong_to.id request.requester.id %}">{% trans "View user reviews" %}</a>
                <a class="pure-button" href="{% url 'roomDetail' request.requested.id %}">{% trans "View room" %}</a>
                {% if not request.accepted %}
                    <a class="pure-button" href="/requests/accept/{{ request.id }}/">{% trans "Accept" %}</a>
                    <a class="pure-button" href="/requests/deny/{{ request.id }}/">{% trans "Deny" %}</a>
                {% endif %}
            </li>
            <br>
        {% endfor %}
        </ul>
    {% else %}
        <p>{% trans "No requests are available." %}</p>
    {% endif %}

    <h2>{% trans "Requests made by me" %}</h2>
    {% if requests_by_me %}
        <ul>
        {% for request in requests_by_me %}
            <li>
                <p>{% trans "Request made on" %} {{ request.creation_date }}</p>
                <br>
                <a class="pure-button" href="{% url 'userReview' request.requested.belong_to.id request.requester.id %}">{% trans "View user reviews" %}</a>
                <a class="pure-button" href="{% url 'roomDetail' request.requested.id %}">{% trans "View room" %}</a>
            </li>
            <br>
        {% endfor %}
        </ul>
    {% else %}
        <p>{% trans "No requests are available." %}</p>
    {% endif %}

    <h2>{% trans "Contracts pending to be signed" %}</h2>
    {% if pending_contracts %}
        <ul>
        {% for room in pending_contracts %}
            <li>
                <p>{{ room.description }}</p>
                <a class="pure-button" href="{% url 'signContract' room.id %}">{% trans "Sign" %}</a>
                <a class="pure-button" href="{% url 'roomDetail' room.id %}">{% trans "View room" %}</a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>{% trans "No pending contracts." %}</p>
    {% endif %}
{% endblock %}