{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Requests" %}{% endblock %}

{% block content %}

    <h2>{% trans "Requests pending to answer" %}</h2>
    <ul>
    {% for request in requests_to_me %}
        <li>
            <p>{{ request.creation_date }}</p>
            <p>Accepted: {{ request.accepted }}</p>
            <a class="pure-button" href="/userReview/{{ request.requester.id }}/">{% trans "View user reviews" %}</a>
            <a class="pure-button" href="/rooms/{{ request.requested.id }}/">{% trans "View room" %}</a>
            {% if not request.accepted %}
                <a class="pure-button" href="/requests/accept/{{ request.id }}/">{% trans "Accept" %}</a>
                <a class="pure-button" href="/requests/deny/{{ request.id }}/">{% trans "Deny" %}</a>
            {% endif %}
        </li>
    {% endfor %}
    </ul>

    <h2>{% trans "Requests made by me" %}</h2>
    <ul>
    {% for request in requests_by_me %}
        <li>
            <p>{{ request.creation_date }}</p>
            <p>Accepted: {{ request.accepted }}</p>
            <a class="pure-button" href="/userReview/{{ request.requester.id }}/">{% trans "View user reviews" %}</a>
            <a class="pure-button" href="/rooms/{{ request.requested.id }}/">{% trans "View room" %}</a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}