{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Flat reviews" %}{% endblock %}

{% block content %}

    {{ room.pictures }}

    <h1>{{ room.description }}</h1>

    <h2>{{ room.temporal_owner.user }}</h2>

    {% if room.temporal_owner %}

        <button class="pure-button pure-button-primary" onclick="location.href='{% url 'showUserProperties' room.temporal_owner.id %}'">{% trans "Show profile" %}</button>

    {% endif %}

    <h2>{{ room.price }} €</h2>

    <h2>{% trans "Details" %}</h2>

    <div class="pure-button-group" role="group">
        {% if roomDetails.balcony == True %}
            <button class="pure-button">{% trans "Balcony" %}</button>
        {% else %}
            <button class="pure-button pure-button-disabled">{% trans "Balcony" %}</button>
        {% endif %}

        {% if roomDetails.window == True %}
            <button class="pure-button">{% trans "Window" %}</button>
        {% else %}
            <button class="pure-button pure-button-disabled">{% trans "Window" %}</button>
        {% endif %}

        {% if roomDetails.air_conditioner == True %}
            <button class="pure-button">{% trans "Air conditioner" %}</button>
        {% else %}
            <button class="pure-button pure-button-disabled">Air Conditioner</button>
        {% endif %}

        <button class="pure-button">{% trans "Bed" %}: {{ roomDetails.get_bed_display }}</button>

        <br><br>
    </div>

    <button class="pure-button pure-button-primary" onclick="location.href='{% url 'roomReview' room.id %}'">{% trans "Room reviews" %}</button>

    {% if room.belong_to.owner.user == user %}
        <button class="pure-button" onclick="location.href='{% url 'editRoomProperties' room.id %}'">{% trans "Update properties" %}</button>
    {% endif %}

    {% if room.temporal_owner == user %}
        <button class="pure-button pure-button-primary" onclick="location.href='{% url 'payment'  room.id %}'">{% trans "Make payment" %}</button>
    {% endif %}

{% endblock %}

