{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Flat reviews" %}{% endblock %}

{% block content %}

    {{ room.pictures }}

    <h1>{{ room.description }}</h1>

    <h2>{{ room.temporal_owner.user }}</h2>

    <h2>{{ room.price }} €</h2>

    <h2>{% trans "Details" %}</h2>

    <div class="pure-button-group" role="group">
        {% if roomDetails.balcony == True %}
            <button class="pure-button">{% trans "Balcony" %}</button>
        {% else %}
            <button class="pure-button pure-button-disabled">{% trans "Balcony" %}</button>
        {% endif %}

        {% if flatDetails.window == True %}
            <button class="pure-button">{% trans "Window" %}</button>
        {% else %}
            <button class="pure-button pure-button-disabled">{% trans "Window" %}</button>
        {% endif %}

        {% if flatDetails.air_conditioner == True %}
            <button class="pure-button">{% trans "Air conditioner" %}</button>
        {% else %}
            <button class="pure-button pure-button-disabled">Air Conditioner</button>
        {% endif %}

        <br><br>
    </div>


    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <button class="pure-button pure-button-primary" onclick="location.href='{% url 'roomReview' room.id %}'">Room reviews</button>


{% endblock %}

