{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Flat reviews" %}{% endblock %}

{% block content %}

    <img src="{{ room.picture.url }}" alt="" title="" class="property_img"/>

    <h1>{{ room.description }}</h1>

    <h2>{{ room.price }} €</h2>

    <h2>{% trans "Details" %}</h2>

    <div class="pure-button-group" role="group">
        {% if roomDetails.balcony == True %}
            <button class="pure-button">{% trans "Balcony" %}</button>
        {% else %}
            <button class="pure-button pure-button-disabled">{% trans "Balcony" %}</button>
        {% endif %}

        {% if roomDetails.window == True %}
            <button class="pure-button">{% trans "Window" %}</button>
        {% else %}
            <button class="pure-button pure-button-disabled">{% trans "Window" %}</button>
        {% endif %}

        {% if roomDetails.air_conditioner == True %}
            <button class="pure-button">{% trans "Air conditioner" %}</button>
        {% else %}
            <button class="pure-button pure-button-disabled">Air Conditioner</button>
        {% endif %}

        <button class="pure-button">{% trans "Bed" %}: {{ roomDetails.get_bed_display }}</button>

        <br><br>
    </div>

    {% if room.temporal_owner %}

        <table class="pure-table">

        <tr style="background: rgba(178, 255, 255, 1.0); border: 1px solid rgba(200, 100, 0, 0.3);">

            <th colspan="5">Tenant</th>

        </tr>

        <tr>

            <th colspan="2">Personal information</th>

            <th colspan="2">Details</th>

        </tr>

        <tr style="background: rgba(178, 255, 255, 1.0); border: 1px solid rgba(200, 100, 0, 0.3);">

            <td><b>Name</b></td>

            <td>{{ userProperties.profile.user.first_name }}</td>

            <td><b>Smoker?</b></td>

            <td align="center">
                {% if userProperties.smoker == True %}
                    &#10004;
                {% else %}
                    &#10005;
                {% endif %}
            </td>

        </tr>

        <tr>

            <td><b>Email</b></td>

            <td>{{ userProperties.profile.user.email }}</td>

            <td><b>Pets?</b></td>

            <td align="center">
                {% if userProperties.pets == True %}
                    &#10004;
                {% else %}
                    &#10005;
                {% endif %}
            </td>

        </tr>
        <tr style="background: 	rgba(178, 255, 255, 1.0); border: 1px solid rgba(200, 100, 0, 0.3);">

            <td><b>Avatar</b></td>

            <td>{{ profile.avatar }}</td>

            <td><b>Sporty?</b></td>

            <td align="center">
               {{ userProperties.sporty }}
            </td>

        </tr>
        <tr>

            <td colspan="2"></td>

            <td><b>Gamer?</b></td>

            <td align="center">
               {{ userProperties.gamer }}
            </td>

        </tr>
        <tr style="background: 	rgba(178, 255, 255, 1.0); border: 1px solid rgba(200, 100, 0, 0.3);">

            <td colspan="2"></td>

            <td><b>Sociable?</b></td>

            <td align="center">
                {{ userProperties.sociable }}
            </td>

        </tr>
        <tr>

            <td colspan="2"></td>

            <td><b>Degree?</b></td>

            <td align="center">
               {{ userProperties.get_degree_display }}
            </td>

        </tr>

        </table>
    {% endif %}
    <br><br>

    <button class="pure-button pure-button-primary" onclick="location.href='{% url 'roomReview' room.id %}'">{% trans "Room reviews" %}</button>

    {% if room.belong_to.owner.user == user %}
        <button class="pure-button" onclick="location.href='{% url 'editRoomProperties' room.id %}'">{% trans "Update properties" %}</button>
    {% endif %}

    {% if room.temporal_owner == user %}
           <button class="pure-button pure-button-primary" onclick="location.href='{% url 'payment'  room.id %}'">{% trans "Make payment" %}</button>
    {% endif %}

{% endblock %}

