{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Room reviews" %}{% endblock %}

{% block content %}

    <table class="pure-table">
        <thead>
            <tr>
                <th>{% trans "Title" %}</th>
                <th>{% trans "Date" %}</th>
                <th>{% trans "Description" %}</th>
                <th>{% trans "Rating" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for review in roomRev %}
            <tr>
                <th>{{ review.title }}</th>
                <th>{{ review.date }}</th>
                <th>{{ review.description }}</th>
                <th>{{ review.rating }}</th>
            </tr>
        </tbody>
        {% endfor %}
    </table>
    <br>

    {% if user.is_authenticated %}
        <button class="pure-button pure-button-primary" onclick="location.href='{% url 'writeRoomReview' room.id %}'">{% trans "Write a review" %}</button>
    {% endif %}

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% endblock %}