{% extends 'base.html' %}

{% block title %}Room reviews{% endblock %}

{% block content %}

<table>
{% for review in roomRev %}
        <tr>
            <th>{{ review.title }}</th>
            <th>{{ review.date }}</th>
            <th>{{ review.description }}</th>
            <th>{{ review.rating }}</th>
        </tr>
{% endfor %}
</table>
<br>
<button class="pure-button pure-button-primary" onclick="location.href='{% url 'writeRoomReview' room.id %}'">Write a review</button>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% endblock %}