{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Create a flat" %}{% endblock %}

{% block content %}

    {% if user.is_authenticated %}

        <form class="pure-form pure-form-aligned" action="{% url 'flatCreate' %}" method="post" enctype="multipart/form-data">
            <fieldset>
                <legend><h3>{% trans "Create a flat" %}</h3></legend>
                <br>
                {% csrf_token %}

                <div class="pure-control-group">
                    <label for="title">{% trans "Title" %}</label>
                    {{ form.title }}
                    <span class="pure-form-message-inline">{% trans "Required" %}</span>
                </div>

                <div class="pure-control-group">
                    <label for="address">{% trans "Address" %}</label>
                    {{ form.address }}
                    <span class="pure-form-message-inline">{% trans "Required" %}</span>
                </div>

                <div class="pure-control-group">
                    <label for="description">{% trans "Description" %}</label>
                    {{ form.description }}
                    <span class="pure-form-message-inline">{% trans "Required" %}</span>
                </div>

                <div class="pure-control-group">
                    <label for="picture">{% trans "Picture" %}</label>
                    {{ form.picture }}
                    <span class="pure-form-message-inline">{% trans "Required" %}</span>
                </div>

                <div class="pure-controls">
                    <input class="pure-button pure-button-primary" type="submit" value="{% trans "Create" %}" />
                </div>

            </fieldset>
        </form>

     {% else %}

        <h2>{% trans "You are not logged in." %}</h2>

    {% endif %}

{% endblock %}