{% extends 'base.html' %}

{% block title %}Flat details{% endblock %}

{% block content %}

    <button onclick="location.href='{% url 'flatList' %}'">Back</button>

    <h1>{{ flat.description }}</h1>

    {% if roomList %}

        <table>
        {% for room in roomList %}
            <tr>
                <th><a href="{% url 'roomDetail' room.id %}"><h2>{{ room.description }}</h2></a></th>
                <th>{{ room.price }} €</th>
                {% if room.temporal_owner %}
                  <th><button onclick="location.href='{% url 'userReview' room.temporal_owner_id %}'">Opiniones del inquilino</button></th>
                {% else %}
                  <th><button>Alquilar</button></th>
                {% endif %}
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>No rooms are available.</p>
    {% endif %}

  <br>
  <button onclick="location.href='{% url 'flatReview' flat.id %}'">Flat reviews</button>
  <button onclick="location.href='{% url 'ownerReview' flat.owner.id %}'">Owner Reviews</button>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% endblock %}