{% extends 'base.html' %}

{% block title %}Flats{% endblock %}

{% block content %}

    {% if flatList %}

        <section class="listings">

            <div class="wrapper">

                {% if user.is_authenticated %}
                    <button class="pure-button pure-button-primary" onclick="location.href='{% url 'flatCreate' %}'">Create</button>
                    <!--<button class="pure-button pure-button-active" onclick="location.href='{% url 'profileCreate' %}'">Create profile</button>-->
                    <br><br>
                {% endif %}

                <ul class="properties_list">
                    {% for flat in flatList %}
                        <li>
                            <a href="{% url 'flatDetail' flat.id %}">
                                <img src="{{ flat.picture.url }}" alt="" title="" class="property_img"/>
                            </a>
                            <!--<span class="price">$2500</span>-->
                            <div class="property_details">
                                <h1>
                                    <a href="{% url 'flatDetail' flat.id %}">{{ flat.title }}</a>
                                </h1>
                                <h2>{{ flat.description }} <span class="property_size">(288ftsq)</span></h2>

                                {% if flat.owner.user == user %}
                                    <button class="pure-button" onclick="location.href='{% url 'flatDelete' flat.id%}'">Delete</button>
                                {% endif %}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>

    {% else %}
        <p>No flats are available.</p>
    {% endif %}

{% endblock %}
