{% extends 'base.html' %}

{% block title %}Flat reviews{% endblock %}

{% block content %}

<table>
    {% for review in flatRev %}
        <tr>
            <th>{{ review.title }}</th>
            <th>{{ review.date }}</th>
            <th>{{ review.description }}</th>
            <th>{{ review.rating }}</th>
        </tr>
    {% endfor %}
</table>
<br>
<button onclick="location.href='{% url 'writeFlatReview' flat.id %}'">Write a review</button>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% endblock %}