{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Edit flat properties" %}{% endblock %}

{% block content %}

    {% if user.is_authenticated %}

        <form class="pure-form pure-form-aligned" action="{% url 'editFlatProperties' flat_id %}" method="post">
            <fieldset>
                <legend><h3>{% trans "Edit flat properties" %}</h3></legend>
                <br>
                {% csrf_token %}

                {{ form.flat.as_hidden }}

                <div class="pure-control-group">
                    <label for="elevator">{% trans "Elevator" %}</label>
                    {{ form.elevator }}
                </div>

                <div class="pure-control-group">
                    <label for="washdisher">{% trans "Dishwasher" %}</label>
                    {{ form.washdisher }}
                </div>

                <div class="pure-controls">
                    <input class="pure-button pure-button-primary" type="submit" value="{% trans "Update" %}" />
                </div>
            </fieldset>
        </form>

     {% else %}

        <h2>{% trans "You are not logged in." %}</h2>

    {% endif %}

{% endblock %}