<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PAGO</title>
</head>
<body>
 <h1> Leer contrato siguiente: </h1>


 <pre>

     En la ciudad de Sevilla , con fecha {{ contract.date_signed }}


     EXPONEN

PRIMERO.- Que D/DÑA  {{ contract.landlord.user.first_name}} es propietario en pleno dominio de la vivienda amueblada , situada en {{ contract.room.belong_to.address }} de la ciudad de Sevilla. Se adjunta como anexo I al presente contrato, fotocopia del Certificado de eficiencia energética

SEGUNDO.- Que D/DÑA  {{ contract.tenant.user.first_name}} ha convenido con D/DÑA {{ contract.landlord.user.first_name}} el arrendamiento de la habitación amueblada número ......., cuya superficie y composición, incluido el mobiliario, así como demás características son perfectamente conocidas por el arrendatario. El arrendamiento de dicha habitación dará derecho al uso común con el resto de arrendatarios de la vivienda de las zonas comunes de la misma. Se adjunta inventario del mobiliario existente en este momento en la habitación arrendada y en las zonas comunes de la vivienda. El arrendamiento se realiza con sujeción al régimen jurídico establecido en la Ley de Arrendamientos Urbanos de 24 de Noviembre de 1994, que llevan a cabo por medio del presente contrato y con arreglo a las siguientes:


     ESTIPULACIONES

PRIMERA.- DESTINO. Que D/DÑA {{ contract.landlord.user.first_name}} arrienda a D/DÑA {{ contract.tenant.user.first_name}} la habitación descrita en el expositivo segundo de este documento,
     que será destinada a vivienda habitual y permanente del arrendatario y de su familia. La habitación se pondrá a disposición de la parte arrendataria con la entrega de llaves de dicha habitación y de la vivienda,
     recibiéndola el/la Sr/a {{ contract.landlord.user.first_name}} en un estado adecuado al fin al que se destina.
     Manifiesta igualmente el arrendatario que no tiene arrendada actualmente ninguna otra vivienda o habitación destinada a satisfacer su necesidad permanente de vivienda.

SEGUNDA.- DERECHO DE ACCESO A LA VIVIENDA DEL ARRENDADOR. Las partes acuerdan expresamente la renuncia del arrendatario a impedir que el arrendador pueda acceder a las zonas comunes de la vivienda y a las habitaciones que no se encuentren arrendadas en el momento del acceso a la vivienda.
     La violación de este derecho del arrendador por parte de cualquier persona que se encuentre en la vivienda será considerada causa de solución del contrato de arrendamiento y motivo de desahucio del arrendatario,
     siendo éste responsable de los daños y perjuicios que el impedimento de acceso a la vivienda puedan ocasionar al arrendador, entre otros la pérdida de beneficios por no poder arrendar otras habitaciones.

TERCERA.- DURACIÓN Y PRÓRROGAS. El plazo pactado de duración del presente contrato de arrendamiento es de 9 meses.
     Transcurrido el plazo contractual, podrá prorrogarse tácitamente la duración de este contrato por períodos iguales si cualquiera de las partes no comunica a la otra con un mes de antelación su deseo de dar por concluido el contrato al término del plazo convenido o de cualquiera de sus prórrogas.

CUARTA.- Una vez transcurra el plazo máximo de tres años a que se refiere la cláusula anterior, si ninguna de las partes hubiese notificado a la otra, al menos con un mes de antelación a aquella fecha, su voluntad de no renovarlo, el contrato se prorrogará necesariamente durante un año más, salvo que el arrendatario manifieste al arrendador con 30 días de antelación su decisión de no continuar el arriendo.

QUINTA.- RENTA Y ACTUALIZACIÓN DE RENTA Y FIANZA. La renta convenida es de {{ contract.room.price}} € pagaderos mensualmente por adelantado.
     La renta pactada se podrá revisar anualmente, a partir del primer año de vigencia del contrato,
     con arreglo al Índice de Precios al Consumo publicado por el Instituto Nacional de Estadística, o por el índice que decidan libremente las partes.

La parte arrendataria se compromete a aportar la cantidad de {{ contract.room.price}} €  en concepto de Fianza, con la obligación de la parte arrendadora de su depósito legal. La fianza se restituirá a la finalización del contrato, conforme a lo establecido en la legislación vigente,
     una vez comprobado por la arrendadora el buen estado de la vivienda y el adecuado cumplimiento de lo previsto en este contrato. La fianza no podrá imputarse al pago de renta ni de ningún otro concepto ni tampoco justificará ningún retraso en los pagos a realizar.

SÉPTIMA.- GASTOS GENERALES. No será obligación de la parte arrendataria el pago de los gastos generales de la vivienda.

OCTAVA.- SUMINISTROS. No será de cargo y cuenta del arrendatario llevar a cabo tanto con el Ayuntamiento como con las compañías de electricidad y telefonía,
     los respectivos contratos de suministro de agua, energía, electricidad y teléfono. Sin embargo, sí será de cuenta del arrendatario el pago al arrendador de los correspondientes recibos de estos consumos,
     que serán comunicados mensualmente a aquel por el arrendador.
     El método de atribución al arrendatario será el prorrateo del total consumido entre el número de habitaciones de la vivienda que se encuentren ocupadas en la mensualidad facturada.

NOVENA.- OBRAS DE CONSERVACIÓN. El arrendador está obligado a realizar, sin derecho a elevar por ello la renta,
     todas las reparaciones que sean necesarias para conservar la vivienda y la habitación en las condiciones de habitabilidad para servir al uso convenido,
     salvo cuando el deterioro de cuya reparación se trate sea imputable al arrendatario a tenor de lo dispuesto en los artículos 1.563 y 1.564 del Código Civil.

DÉCIMA.- PEQUEÑAS REPARACIONES. Las pequeñas reparaciones que exija el desgaste por el uso de la habitación serán de cargo del arrendatario.
     Las pequeñas reparaciones que exija el desgaste por el uso de las zonas comunes serán a cargo de los arrendatarios que en el momento de realizarlas estén ocupando la vivienda.

Se prohibe expresamente al arrendatario la realización de agujeros o perforaciones en las paredes del inmueble, descontándose de la fianza el importe que sea necesario para que las paredes recuperen su estado original en su caso

DÉCIMO PRIMERA.- OBRAS DE MEJORA. El arrendatario estará obligado a soportar la realización por el arrendador de obras de mejora cuya ejecución no pueda razonablemente diferirse hasta la conclusión del arrendamiento.

El arrendador que se proponga realizar una de tales obras deberá notificar por escrito al arrendatario, al menos con tres meses de antelación, su naturaleza, comienzo, duración y coste previsible.
     Durante el plazo de un mes desde dicha notificación, el arrendatario podrá desistir del contrato, salvo que las obras no afecten o afecten de modo irrelevante a la habitación arrendada. El arrendamiento se extinguirá en el plazo de dos meses a contar desde el desistimiento, durante los cuales no podrán comenzar las obras.

El arrendatario que soporte las obras tendrá derecho a una reducción de la renta en proporción a la parte de la vivienda de la que se vea privado por causa de aquéllas, así como a la indemnización de los gastos que las obras le obliguen a efectuar.

DÉCIMO SEGUNDA.- OBRAS DEL ARRENDATARIO. El arrendatario no podrá realizar, sin el consentimiento expreso y por escrito del arrendador, ningún tipo de obras. Sin perjuicio de la facultad de resolver el contrato,
     la arrendadora que no haya autorizado la realización de las obras podrá exigir, al concluir el contrato, que la arrendataria reponga las cosas al estado anterior o conservar la modificación efectuada, sin que éste pueda reclamar indemnización alguna.

DÉCIMO TERCERA.- OBRAS DE ADAPTACIÓN PERSONALES. El arrendatario, previa notificación escrita al arrendador, podrá realizar en el interior de la habitación aquellas obras o actuaciones necesarias para que pueda ser utilizada de forma adecuada y acorde a la discapacidad o a la edad superior a setenta años,
     tanto del propio arrendatario como de su cónyuge, de la persona con quien conviva de forma permanente en análoga relación de afectividad, con independencia de su orientación sexual, o de sus familiares que con alguno de ellos convivan de forma permanente,
     siempre que no afecten a elementos o servicios comunes del edificio ni de la vivienda, ni provoquen una disminución en su estabilidad o seguridad.

El arrendatario estará obligado, al término del contrato, a reponer la habitación al estado anterior, si así lo exige el arrendador.

DÉCIMO CUARTA.- CLAUSULA DE PENALIZACIÓN EXPRESA. La parte arrendataria hará entrega de las llaves de la vivienda y de la habitación en la fecha de finalización del presente contrato.
     De realizar la entrega más tarde, el arrendatario abonará al arrendador la cantidad de {{ contract.room.price}}  euros por cada día de retraso en la puesta a disposición de las llaves,
     en concepto de cláusula penal, además de todos los gastos que directos e indirectos que dicho retraso generen de cara a la recuperación de la habitación.

DÉCIMO QUINTA.- CESIÓN Y SUBARRIENDO. El contrato no se podrá ceder ni subarrendar de forma parcial por el arrendatario sin previo consentimiento por escrito del arrendador.

DECIMO SEXTA.- TANTEO Y RETRACTO. La parte arrendataria renuncia expresamente a los derechos de tanteo y retracto sobre la vivienda y sobre la habitación.

DECIMO SÉPTIMA.- REGISTRO.- Cualquiera de las partes podrá instar el registro del contrato de arrendamiento en el Registro de la Propiedad en el que se encuentre registrado el inmueble arrendado, siendo los gastos soportados por mitad si el registro es del interés de ambas partes y, no siendo así, por quien interese la inscripción.

DECIMO OCTAVA.- SUMISIÓN. Los contratantes se someten expresamente a los Juzgados y Tribunales de la ciudad de Sevilla para todas aquellas cuestiones litigiosas que pudieran derivarse del presente contrato, por ser el lugar donde se encuentra la habitación arrendada.

Y con el carácter expresado en la intervención, firman el presente contrato por duplicado, en cinco folios escritos por el anverso numeradas sus caras del uno al cinco, en el lugar y fecha indicados.

Al aceptar y pagar, usted está aceptando las clausulas del contrato.

 </pre>


<h1> Pagar: </h1>
{{form.render}}
</body>
</html>