{% extends 'base_home.html' %}
{% load i18n %}

{% block title %}{% trans "Welcome to RentInPeace" %}{% endblock %}

{% block content %}
    <div class="pure-g">
        <div class="pure-u-1-5"><p></p></div>
        <div class="pure-u-3-5" align="center">
            <p>
                <form class="pure-form" action="{% url 'base' %}" method="post">
                    <fieldset>
                        <h2>{% trans "Search your flat" %}</h2>
                        {% csrf_token %}

                        {% for field in form %}
                            {% if field.name == 'keyword' %}
                                <input class="pure-input-2-3" type="text" placeholder="{% trans "Search by name, description or address" %}" id="{{ field.name }}" name="{{ field.name }}">
                                <br><br>
                            {% endif %}
                        {% endfor %}

                        <table class="pure-table">
                            <thead>
                                <tr>
                                    <th>{% trans "Properties" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for field in form %}
                                    <tr>
                                        {% if field.name != 'keyword' %}
                                            <th>{{ field }} {{ field.label }}</th>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        <br><br>
                        <p><input class="pure-button pure-button-primary" type="submit" value="{% trans "Search" %}" /></p>
                    </fieldset>
                </form>
            </p>
        </div>
        <div class="pure-u-1-5"><p></p></div>
    </div>
{% endblock %}