{% extends 'base.html' %}

{% block title %}List owner reviews{% endblock %}

{% block content %}

    <table class="pure-table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Description</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
            {% for review in userRev %}
                <tr>
                    <th>{{ review.title }}</th>
                    <th>{{ review.date }}</th>
                    <th>{{ review.description }}</th>
                    <th>{{ review.rating }}</th>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    {% for room in rooms %}
        {% if profile == room.temporal_owner or profile == owner %}
        <button class="pure-button pure-button-primary" onclick="location.href='{% url 'writeUserReview' user.id %}'">Write a review</button>
        {% endif %}
    {% endfor %}
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% endblock %}