{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Payments" %}{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        <h2>{% trans "Payment made" %}</h2>
        {% if paymentList %}
            {% for l in paymentList %}
                    {%  if l.date.month ==  date  %}

                                <table class="pure-table">

                                    <tr>
                                        <th>Amount</th>
                                        <th>Date</th>
                                    </tr>
                                    <tr>
                                        <td>{{ l.amount }}</td>
                                        <td>{{ l.date }}</td>
                                    </tr>


                                </table>



                    {%  endif %}
            {% endfor %}
        {% else %}
            <p>{% trans "No payments made are available." %}</p>
        {% endif %}


        <h2>{% trans "Pending payment" %}</h2>

        {% if paymentList or pendientes %}

            <table class="pure-table">

                {% for room in rooms %}

                    <tr>
                        <td>{% trans "Contract of the room" %}: <a style="color: #1a1a1a" href="{% url 'roomDetail' room.id %}">{{ room.description }}</a></td>
                        <td><button class="pure-button pure-button-primary" onclick="location.href='{% url 'payment' room.id %}'">{% trans "Make payment" %}</button></td>
                    </tr>

                {% endfor %}

            </table>

            <br>
            {% for l in paymentList %}
                    {%  if l.date.month !=  date  %}

                                <table class="pure-table">

                                    <tr>
                                        <th>Amount</th>
                                        <th>Date</th>
                                        <th colspan="2"></th>
                                    </tr>
                                    <tr>
                                        <td>{{ l.amount }}</td>
                                        <td>{{ l.date }} </td>
                                        <td><button class="pure-button pure-button-primary" onclick="location.href='{% url 'payment'  l.contract.room.id %}'">{% trans "Make payment" %}</button></td>
                                    </tr>
                                </table>


                    {%  endif %}
            {% endfor %}
        {% else %}
            <p>{% trans "No pending payments are available." %}</p>
        {% endif %}
    {% endif %}



{% endblock %}
