{% extends 'base.html' %}

{% block title %}List user reviews{% endblock %}

{% block content %}


<table>
    {% for review in userRev %}
        <tr>
            <th>{{ review.title }}</th>
            <th>{{ review.date }}</th>
            <th>{{ review.description }}</th>
            <th>{{ review.rating }}</th>
        </tr>
    {% endfor %}
</table>
<br>

{% if user.is_authenticated %}
    <button class="pure-button pure-button-primary" onclick="location.href='{% url 'writeUserReview' user.id %}'">Write a review</button>
{% endif %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% endblock %}