{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "List user reviews" %}{% endblock %}

{% block content %}

    <table class="pure-table">
        <thead>
            <tr>
                <th>{% trans "Title" %}</th>
                <th>{% trans "Date" %}</th>
                <th>{% trans "Description" %}</th>
                <th>{% trans "Rating" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for review in userRev %}
                <tr>
                    <th>{{ review.title }}</th>
                    <th>{{ review.date }}</th>
                    <th>{{ review.description }}</th>
                    <th>{{ review.rating }}</th>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>

    {% for room in rooms %}
        {% if user == room.temporal_owner or user == flat.owner %}
            <button class="pure-button pure-button-primary" onclick="location.href='{% url 'writeUserReview' flat.id user.id %}'">{% trans "Write a review" %}</button>
        {% endif %}
    {% endfor %}

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% endblock %}