{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Write an user review" %}{% endblock %}

{% block content %}

    {% if user.is_authenticated %}

        <form class="pure-form pure-form-aligned" action="{% url 'writeUserReview' flatid userid %}" method="post">
            <fieldset>
                <legend><h3>{% trans "Create a review" %}</h3></legend>
                <br>
                {% csrf_token %}

                <div class="pure-control-group">
                    <label for="title">{% trans "Title" %}: </label>
                    {{ form.title }}
                    <span class="pure-form-message-inline">{% trans "Required" %}</span>
                </div>

                <div class="pure-control-group">
                    <label for="description">{% trans "Description" %}: </label>
                    {{ form.description }}
                    <span class="pure-form-message-inline">{% trans "Required" %}</span>
                </div>

                <div class="pure-control-group">
                    <label for="rating">{% trans "Rating" %}:</label>
                    <select name="rating">
                       <option value="1" selected="selected">1</option>
                       <option value="2">2</option>
                       <option value="3">3</option>
                       <option value="4">4</option>
                       <option value="5">5</option>
                    </select>
                    <span class="pure-form-message-inline">{% trans "Required" %}</span>
                </div>

                <div class="pure-controls">
                    <input class="pure-button pure-button-primary" type="submit" value="{% trans "Create" %}" />
                </div>
            </fieldset>
        </form>

    {% else %}

        <h2>You are not logged in.</h2>

    {% endif %}

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% endblock %}